<div class="home_wrap">
    <h2>{{title}} component</h2>

    <p>Choose Designer from header or this <a routerLink="/designer">link</a> to see Stimulsoft report designer in action</p>
    <p>For this demo, I change styles from separate scss files to show you that we can style everything separately.</p>
    <p>Stimulsoft report designer also has themes which you can see at this <a href="https://www.stimulsoft.com/en/samples/js/change-the-report-designer-theme" target="_blank">address</a></p>
</div>