<div>
    <h2>Stimulsoft Reports Designer - Angular 4 DEMO</h2>
    <div class="main-grid">
        <header class="header">
            <nav>
                <ul>
                    <a routerLink="/home">
                        <li>Home</li>
                    </a>
                    <a routerLink="/designer">
                        <li>Designer</li>
                    </a>
                </ul>
            </nav>
        </header>

        <router-outlet></router-outlet>
    </div>
</div>